
@media screen and (min-width: 480px) {
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% , 100%;
}

.header {
  overflow: hidden;
  background-image: url(../images/kids.jpg);
  height: 180px;
}

 .header a:hover {
  background-color:white;
  color: purple;  
}


.navigation > a {
  float:left;
  height: auto;
  margin: 30px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem; 
  text-align: center;
  font-style: normal;
  color:blue;
  display: inline-block;
  width: 6rem;
  height: 20px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: white; 
}

.navigation >a {
  animation-delay: 0s;
  animation-duration:750ms;
  animation-iteration-count:4;
}
#img{
  animation-delay:1s;
  animation-duration:10s;
  animation-iteration-count:20;
  margin-top:110px;  
  float:left;
}


/*section-main-a*/
#section-main-a{
  display: flex;
  flex-direction:column; 
 }
 #profile-pic {
   width:300px;
   height:200px;
   border-radius: 50%;
   float: right; 
   margin-top: 50px;
   margin-bottom:10px;
   margin-right:20px; 
 }
 strong{
  animation-delay:4s;
  animation-duration: 5s;
  animation-iteration-count:1;  
 }

 strong{
  font-family:'Handlee', cursive;
  color:white;
  font-size: 1.5rem;
  font-stretch:normal;
  float: right; 
  margin-top: 50px;
  margin-bottom:10px;
  margin-right:35px;  
 } 
 /*section-main-b*/ 
 form {
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  padding: 25px 15px 25px 10px;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color:gray;
  text-shadow: 1px 1px 1px rgb(14, 4, 4);
}
h1 {
  font-size: 25px;
  padding: 0px 0px 10px 40px;
  display: block;
  margin: 16rem -15px 30px -10px;
  color:white;
}
h1>span {
  display: block;
  font-size: 11px;
}
label {
  display: block;
  margin: 0px;
}
label>span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: white;
}
input[type="text"], input[type="email"], textarea, select {
  border:1px solid black;
  color:rgb(8, 8, 8);
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
textarea{
  padding: 5px 3px 3px 5px;
}
select {
  background: #FFF url('down-arrow.png') no-repeat right;
  appearance:none;
  -webkit-appearance:none; 
  -moz-appearance: none;
  border:1px solid black;
  text-indent: 0.01px;
  width: 70%;
  height: 35px;
  line-height: 25px;
}
textarea{
  height:100px;
}
.button {
  background: #E27575;
  border:1px solid black;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
}
.button:hover {
  background:rgb(168, 39, 39)
}
/*section-main-c*/
#section-main-c{
    display:flex;
    flex-direction: row;
    background-color:rgb(250, 250, 174);
  }
  .pic {
    width: 400px;
    height: 300px;
    margin:1px 70px 10px 70px; 
  }
  p {
    margin:aut0;
    padding:1px;
    font-size:1em;
    text-align:center;
    margin-bottom: 30px;
  }
  .myBlog{
    background-color:lightblue;
  }
  .blog{
     margin:1rem 40rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; 
    text-align: center;
    font-style: normal;
    color:blue;
    display: inline-block;
    width: 6rem;
    height: 2rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 12px;    
    background-color:rgb(219, 24, 99);  
 } 
 .blog{
  animation-delay: 250ms;
  animation-duration: 3s;
  animation-iteration-count: 3; 
 }
}