@media (min-width: 576px) { 
  body{
    background-color:rgb(0, 204, 204) ;
    background-repeat: no-repeat;
    background-size: 100% , 100%;
  }
  
  .navigation > a {
    float:left;
    height: auto;
    margin: 30px 10px;
    font-family: 'Crimson Text', serif;
    font-size: 1rem; 
    text-align: center;
    font-style: normal;
    color:blue;
    display: inline-block;
    width: 55px;
    height: 50px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: white; 
  }

  h1{
    font-family: 'Crimson Text', serif;
    font-size:4rem;
    color:white;
    text-align: center;
    margin-top:150px;
    margin-bottom:150px;
  }

  .main-container{
    display:flex;
    flex-direction: row;
    background-color:rgb(64, 64, 64);
    text-decoration:none;
    color:white; 
  }

   #box1 {
    box-sizing: border-box;
    width:160px;
    height: 35px;
    border:1 px solid blue;
    background-color: blue;
    margin-top: 20px;
    float:center;
    margin-left: 140px;
  } 

  #box2 {
    box-sizing: border-box;
    width:160px;
    height: 35px;
    border:1 px solid  orangered;
    background-color:  orangered;
    margin-top: 20px;
    float:center;
    margin-left: 140px;
  } 

  #box3 {
    box-sizing: border-box;
    width:160px;
    height: 35px;
    border:1 px solid rgb(0, 204, 204) ;
    background-color:rgb(0, 204, 204);
    margin-top: 20px;
    float:center;
    margin-left: 140px;
  } 

  h2{
    font-family:'Crimson Text', serif;
    text-align: center;
    text-decoration:none;
    font-size:2rem; 
    margin-top:20px;
  }
  
  p {
    margin:auto;
    padding:1px;
    font-size:1.rem;
    text-align:center;
    margin-bottom: 30px;
  }
 }