/*core styles*/
body{
    display: grid;
    margin: 0%;
    background-color:rgb(61, 60, 60);
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 1.1;
    line-height: 1,5;
    text-align: center;
}
 
img{ 
    display: block;
   /* background-image: url("keyboard.jpg");*/
    widows:25%;
    height:outo ;
}

h1,h2,h3{
    margin:0%;
    padding: 1em 0;
    text-align: center;
}

p{
    margin: 0%;
    padding: 1em 0;
}

.btn{
   display:inline-block; 
    background-color: bisque;
    color: blue;
    padding:1em 2em;
    border: 1px solid grey;
    margin:.5em 0;
}
/*header*/
#showcase{
    min-height: 400px;
    color:bisque;
    text-align:center;
}

#showcase .bg-image{ 
    position: absolute;
    background-color: grey; 
    background-image:  url('keyboard.jpg');
     background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
     widows: 100%;
     height:40px;
     z-index:-1;
     opacity:0.3;
}
#showcase h1{
   /*  padding: 100%;*/
     padding-bottom: 0%
 }
 #showcase .content-wrap,
 #showcase-a .content-wrap{
  padding: 0 1.5em;
 }
 #section-a{
     background: white;
     color:rgb(41, 40, 40);
     padding-bottom: 2em;
 }
 #section-b{
     padding:2em 1em 1em;
 }
 #section-b ul{
   list-style: none; 
    margin:0;
     padding:0;
 }
 #section-b li{
margin-bottom: 1.5em;
background-color: bisque;
color:rgb(41, 40, 40) ,
 }
 .card-content{
     padding: 2em;
 }
 #section-c{
     background-color: bisque;
     color:rgb(41, 40, 40);
     padding: 2em;
 }
 #section-d{
     display: grid;
     color:bisque;
     grid-template-columns:1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-column-gap: 10px;
     grid-auto-rows:15px;

 }
  #section-d grid-container{
    margin:2em 1em 3em;
    height: 1em;
    width: 1,5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
 }

 @media(min-width:700px){
     .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .content-wrap,
    #section-b{
        grid-column: 2/4;
    }

 }