
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% , 100%;
  } 
  
.header {
    overflow: hidden;
    height: 180px;
  }
  
   .a:hover {
    background-color:white;
    color: purple;  
  }
  .header{
    display: flex;
    flex-direction:column-reverse;
  }
  .navigation > a {
    float: right;
    height: auto;
    margin: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; 
    text-align: center;
    font-style: normal;  
    color:blue;
    display: inline-block;
    width: 6rem;
    height: 20px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: white;
     
  }
  h1{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:white;
    text-align:left;
    margin-left:30px;  
  }
  .Clock{
      margin-top:10px;
      margin-left: 50px;
      float: left;
      color:white
  }
h2{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color:white;
  text-align:left;
  margin-left:30px; 
}
.main {
  box-sizing: border-box;
  width:400px;
  height:300px;
}
#Table{
  border: 1px solid yellowgreen;
  width:220px;
  margin-left:0;
  padding: 0;
}
#odd{
  background-color: rgb(175, 171, 171)
}
#even{
  background-color:grey 
}

.container {
  margin: 2rem auto;
  max-width: 50rem;
  text-align: center;
}

form {
  margin: 2.5rem auto;
}

.find-me.btn {
  font-family: inherit;
}

.find-me.btn,
.not-on-https,
.no-geolocation-support,
.coordinates {
  font-size: 1.5em;
}

.not-on-https,
.no-geolocation-support {
  display: none;
}

.coordinates {
  display: none;
  margin-bottom: 2.5rem;
}

.visible {
  display: block;
}

#map {
  margin: 0 auto;
  position: relative;
}

#map-canvas {
  height: 25rem;
  min-height: 25rem;
  width: 100%;
}













