/*core styles*/
body{
    display:grid; 
    margin: 0%;
    background-color:rgb(61, 60, 60);
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 1.1em;
    line-height: 1,5em;
    text-align: center;
}
 
img{ 
    display: block;
    background-image: url("https://unsplash.com/photos/Iq11eskt5AQ.jpg.bg-image");
    width:100%;
    height:outo;
}

h1,h2,h3{
    margin:0%;
    padding: 1em 0;
}
p{
    margin: 0%;
    padding: 1em 0;
}

.btn{
   display:inline-block; 
    background-color: bisque;
    color: rgb(221, 17, 17);
    padding:1em 2em;
    border: 1px solid, rgb(61, 60, 60);
    margin:0.5em 0;
}
.btn{
    background:beige;
    color:rgb(61, 60, 60);
}
/*header*/
#showcase{
    min-height: 450px;
    color:white;
    text-align:center;
}

#showcase .bg-image{ 
    position: absolute;
    background-color: grey; 
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
     width: 100%;
     height:450px;
     z-index:-1;
     opacity:0.3;
}
#showcase h1{
     padding-top: 100%;
     padding-bottom: 0%;
 }
 #showcase .content-wrap,
 #showcase-a .content-wrap{
  padding: 0 1.5em;
 }
 #section-a{
     background: rgb(131, 45, 45);
     color:(61, 60, 60);
     padding-bottom: 2em;
 }
 #section-b{
     padding:2em 1em 1em;
 }
 #section-b ul{
   list-style: none; 
    margin:0;
     padding:0;
 }
 #section-b li{
margin-bottom: 1.em;
background-color: bisque;
color:(61, 60, 60);
 }
 .card-content{
     padding: 1.5em;
 }
 #section-c{
     background:(61, 60, 60) ;
     color:bisque;
     padding: 2em;
 }
 #section-d .box{
     padding:2em;
     color:bisque;
 }
  #section-d .box:first-child{
      background:rgb(90, 90, 224);
    }
   
    #main-footer{
        padding:2em;
        background:black;
        color :bisque;
        text-align: center;
    }


 @media(min-width:800 px){
     .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto,25em));
    }
    #section-a.content-text{
        columns:2;
        column-gap:2em;
    }
    #section-a .content-text p{
        padding-top:0;
    }
    
   .content-wrap,
    #section-b ul{
        grid-column: 2/4;
    }
    .box, #main-footer div{
    grid-column:span 2;
    }
    #section-b ul{
        display:flex;
         justify-content:space-around;
    }
    #section-b li{
        width:31%;
    }
}


 