
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../profile-pic/Canva\ -\ Photo\ of\ Cattails.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
/*  z-index:-1;
   opacity:0.3;*/
}


.header {
  overflow: hidden;
  background-image: url(../profile-pic/banner.jpg);
  /* width: auto; */
  height: 250px;
}

 .header a:hover {
  background-color:yellow;
  color: rgba(247, 97, 28);  
}

/* .navigation a.active {
  background-color: rgb(241, 245, 248);
  color: red;
}   */

.navigation > a {
  float: right;
  height: auto;
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem; 
  text-align: right;
  font-style: normal;
  color: black;
   
}

  /*section-main-a*/
 #section-main-a{
   display: flex;
   flex-direction:column; 
  }
  #profile-pic {
    width:300px;
    height:200px;
    border-radius: 50%;
    margin: 15% auto;
    float: right; 
    margin-top: 20px;
     margin-bottom:10px;
     margin-right:20px; 
  }
  h1 {
    color:white;
    font-size: 1.5rem;
    font-stretch:normal;
    margin-top: 10px;
    margin-bottom: 7px;
    text-align: right;
    margin-right: 30px;
  }
  
  h2 {
    color:white;
    font-size: 1.5rem;
    font-stretch:normal;
    margin-top: 10px;
    margin-bottom: 7px;
    text-align: right;
    margin-right: 30px;
  }
  /*section-main-b*/
  #section-main-b{
    display:flex;
    flex-direction: row;
    width: 820px;
  }
  p {
    margin-right:35px;
    padding:1px;
    font-size:1.5em;
    text-align:left;
    margin-bottom: 30px;
    color:white;
  }
  ul{
    list-style-type: square;
    margin-left:35px;
    padding:1px;
    font-size:1.5em;
    text-align:left;
    margin-bottom: 30px;
    color:white;
  }
  .section-main-b{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  video{
    max-width:500px;
    height:400px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  iframe{
    height:380px;
    width:300px;
    margin-top:20px;
    margin-right:20px;
  }
  

  #main-footer{
    padding:2em;
    background:white;
    color :rgb(29, 27, 27);
    text-align: center;
}
  .box, #main-footer div{
    display:flex,
    }
 @media screen and (max-width: 480px) {
      #leftsidebar {
        width: 380px;
       }
      #main {
        width: 380px;
      }
      
    }
  
  
  
  


